body{
    font-family: serif, Arial, Helvetica, sans-serif;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
       
}
.card{
   background-color: #2c2c2c;
   border-radius: 8px;
   padding:30px;
   width : 300px;
   
}
h2{
    color:#ffffff;
    text-align: center;
    margin-bottom: 30px;
     
}
form{
    display: flex;
    flex-direction: column;
    
}
input{
    margin-bottom: 10px;
    padding: 3px;
    border-radius: 4px;
    background-color: #4a4949;
}
button{
    background-color: #52aa99;
    border-radius: 2px;
    padding: 5px;

}
button:hover{
    background-color: #499889;
}

